.title {
    font-size: 15px;
}

.hotkeys-box {
    display: flex;
    flex-direction: row;
    align-items: center; /* Выравнивание элементов по центру */
    gap: 10px; /* Отступ между элементами */
}
