.unity-ladel {
    color: rgb(100, 100, 255);
}

.link-ladel {
    color: rgb(100, 100, 255);
}

.special-ladel {
    color: rgb(100, 100, 255);
}

.off-ladel {
    color: rgb(100, 100, 255);
}

.error-ladel {
    color: rgb(100, 100, 255);
}

.other-ladel {

}

.unity-button {

}

.special-button {

}

.off-button {

}

.error-button {

}

.other-button {

}

